<html>
  <head>
    <link rel="stylesheet" href="custom.css.scss">
  </head>
  <body>
    <div class="container">
      <div class="space"></div>
      <h2 class="blue light">An asteroid is going to hit Earth in five years, and it's time to leave. The next question: Where do we go? The answer: Ceres.</h2>

      <br>

      <h3 class="blue light">About Ceres</h3>
      <p>Ceres is the largest body in the asteroid belt. It is on average 164 million miles away from Earth. If we travel at 20,000 MPH, we can get there in about a year to get there. As you can see, this is not an issue. There is an abundance of natural resources on Ceres. Underneath the thin outer layer, there is a layer of frozen ocean, which could contain more freshwater than Earth. Also, there are many mineral resources. There is carbon, and also water-holding minerals. These could be used to build Ceres has a land area similar to Argentina, which has a population of 45 million. This could definitely hold the amount of people needed.</p>
      <br>
      <h3 class="blue light">Who's Coming?</h3>
      <p>Here is a tentaive list of people coming.</p>

        <ul>
          <li>Neil de Grasse Tyson: Astrophysicist.</li>
          <li>Bill Nye: The Scientist.</li>
          <li>Morgan Freeman: Narrator.</li>
          <li>Peter H. Raven: Botanist.</li>
          <li>Ellen Stefan: Chief NASA Scientist.</li>
          <li>James Cameron: Entertainment &amp; Oceanographer.</li>
          <li>Connor Braun: The Future of Engineering.</li>
          <li>(Atmospheric Scientist)</li>
          <li>(Architect)</li>
        </ul>

      <p>We are bringing the smartest and best people from around the planet. This helps to ensure our success.</p>
      <br>
      <br>
      <h3 class="blue light">Travel</h3>
      <p>This is the most complicated part of the process. The first part is flying the resources needed up into orbit, such as liquid oxygen and nitrogen, fuel, food, and medical supplies. To lanuch them, we will lisence it out to companies such as blue light Origin, Vigrin Galactic, or Space X. Next, we will begin taking people. There would have to be hundreds of these to provide enough food to live there. Next are the people. To have a solid gene pool, we need to have about 200 people. These people, mainly doctors, scientists, and engineers, will travel to the ISS. There, they will stay until it is time to leave. Again, they will be transported by a 3rd Party. The ISS will pick up the resources while it is in orbit to continue to support life. Also transported will be a number of plants and algae that will absorb some of the CO<sub>2</sub> Stripped down from scientific materials and other uneccesary cargo, the ISS could hold maybe 25 people and a number of supplies. Next comes the other people. They will be transported through a larger version of the space shuttles used in previous missions. The last thing needed to transport is the cargo ship. This will mainly contain the drill, which is one of the most fundamental parts of our mission. Because of this, we will send two of the same transports. As well as containing the drills, we will also have plants, food, and more air, as well as some of the building materials. Also, because of the large size of these ships, we will need to use a very strong fuel. For this we will use antimatter. Although this is very, very rare, if we use all of the available resources, and also have countries producing it at top speeds, we should be able to use as much as is needed to get the two spacecrafts into orbit. Now when all resources that are in the atmospheres, they will join up and then travel to Ceres. If we travel at 50,000 MPH, we can get to the dwarf planet in about year.</p>
      <br>
      <br>
      <h3 class="blue light">On Ceres</h3>
      <p>When we get to Ceres, we will at first live underground. Our temporary home will be created using our engineers, architects, and drills. Then comes the hardest, most time-consuming, but also one of the most important parts: creating an atmoshpere. We will do this with the gasses that we brough with us. By doing this, it makes everything easier. We can walk on the surface, grow crops, and if we decide to make a thick enough atmoshpere, we could actually fly. And, with all of the fresh water, we could make the dwarf planet similar to Earth. Because Ceres is located in the asteroid belt, we can do the exact same thing to the asteroids around the dwarf planet. This fixes overcrowding issues, even though we could probably have about a million people on the planet.</p>
      <br>
      <br>
      <h3 class="blue light">The Asteroid Belt</h3>
      <p>Ceres is a dwarf planet located on the asteroid belt. Although this may seem like a desolate place, it actually holds an abundance of natural resources; one of the most important being water. We can do the same method as we did to make Ceres habitable to mine them, which can provide us with many valuable building resources and other minerals to give us many things that we need. Also, the asteroid belt is located close to the other planets. If we feel the need to, we can always move or travel to the other planets. </p>
    </div>
    <div class="space"></div>

  </body>
</html>
