<html>
  <head>
    <title></title>
  </head>
  <body>

    <div class="container">

      <div class="space"></div>

      <h1 class="blue light text-center">Journal Entries</h1>

      <p class="text-center">This is a collection of diaries, journal entries, and excerpts from the people on our journey.</p>

      <br>

      <h3 class="light blue">T -100 Days.</h3>
      <h4>A journal entry from a top college student selected as an architect.</h5>
      <br>
      <p>I was selected as an engineer for the Ceres missions. In short, an asteroid the size of Texas is going to hit in the middle of the Pacific Ocean and trigger a series of earthquakes, tsunamis, and natural disasters that will lead to an on-Earth apocalypse. So we're leaving. Who's we? A group of 200 people including scientists, engineers like me, architects, and mathemeticians. Why did they choose me? I'm one of the top prospects in architecture. I went to college when I was 16, and graduated from MIT in 3 years. I went back to Harvard to get a PHD. I still can't believe they chose me. I'm going to space in 100 days. I'm the only one in my family, as well as the only one that knows. They haven't told anyone yet, but I'm guessing people have gotten suspicous with the 76 probes that have been launched into the atmosphere. Those has all the liquid states of the gasses needed, some plants, food, and fuel. Next is the 25. T`hese are the 25 people as well as countlesses plants and algaes traveling to the ISS. I'm in the ship after that. It contains the other 175 people traveling to Ceres. It's also going to have cargo. My ship, <i>Ceres III</i> launches in 100 days. I'm not sure how I feel. Grateful? Sad? Excited? Maybe all of them. I hope I don't let them down.</p>

      <br>

      <h3 class="light blue">T -10 Days.</h3>
      <h4>A journal entry for one of the mechanics working on the ship launching one of the two drills.</h4>
      <br>
      <p>Something bad happened. <i>Ceres-Gemini I</i> started to break down with the weight. That's why we made two ships in the first place. The left side of the ship began to twist last night, and finally gave way this morning. We have ten days to fix it. I had an idea, but nobody will listen to me. We dont have to make it air tight, as long as we package the sensitive stuff into air-tight packages, the actual sip doesn't need to hold up in space. We could probably get it done if we did that. Meanwhile, everyone is working overtime to get it done. We're not getting paid. There's no point. They told us that the top ten mechanics get a spot on the ship. You bet I'm working hard for that. Maybe I should tell them my idea. It might get me that final spot on the ship.</p>

      <br>

      <h3 class="light">T -0 Days.</h3>
      <h4>A journal entry from one of the pilots of the <i>Ceres III</i>.</h4>
      <br>
      <p>Today is launch day. I can't tell you how nervous I am, just like I can't tell you how many times I gone through this in the simulation. I tink I can do it. The only way this won't work is if everything goes wrong. Let's hope that doesn't happen. The fate of humanity is dependent on me and the the three other pilots to get this launch right. I'm the second pilot in command. That means if something happens to the first one, then I'm in charge. That's the last thing that I want to happen. I definitely don't want that responsibility.</p>
      <p>The sapceship is a beast. It weighs 1500 tons, and is the most unweidley thing that I've ever had to or had the privlege to fly. If we can pull this off, it'l be the greatest flight in the history of mankind. We're responsible for the health of the 175 people on board. The 25 made it safely into the ISS. If everything goes as planned, we'll be docking with them in about 2 hours. I have to go. Wish me luck. </p>
    </div>

  </body>
</html>
