<html>
  <head>
    <title></title>
  </head>
  <body>

      <div class="container">

      <div class="space"></div>

      <h1 class="blue light text-center">Journal Entries</h1>

      <p class="text-center">This is a collection of diaries, journal entries, and excerpts from the people on our journey.</p>

      <div class="space"></div>

      <div class="col-lg-12">
      <div class="col-lg-6">
        <h3 class="light blue">T -100 Days.</h3>
        <h4>A journal from a top college student selected to go to Ceres as an architect.</h5>
        <br>
        <p>I was selected as an engineer for the Ceres missions. In short, an asteroid the size of Texas is going to hit in the middle of the Pacific Ocean and trigger a series of earthquakes, tsunamis, and natural disasters that will lead to an on-Earth apocalypse. So we're leaving. Who's we? A group of 200 people including scientists, engineers (like me), architects, and mathemeticians. Why did they choose me? I'm one of the top prospects in architecture. I went to college when I was 16, and graduated from MIT in 3 years. I went back to Harvard to get a PHD. I still can't believe they chose me. I'm going to space in 100 days. I'm the only one in my family going, as well as the only one that knows. They haven't told anyone yet, but I'm guessing people have gotten suspicous with the 76 probes that have been launched into the atmosphere. They have all the liquid states of the gasses needed, some plants, food, and fuel. Next is the 25. These are the 25 people as well as countlesses plants and algaes traveling to the ISS. I'm in the ship after that. It contains the other 175 people traveling to Ceres. It's also going to have cargo. My ship, <i>Ceres III</i> launches in 100 days. I'm not sure how I feel. Grateful? Sad? Excited? Maybe all of them. I hope I don't let them down.</p>
      </div>

      <div class="col-lg-6">
        <h3 class="light blue">T -10 Days.</h3>
        <h4>A diary entry for one of the mechanics working on the ship launching one of the two drills.</h4>
        <br>
        <p>Something bad happened. <i>Ceres-Gemini I</i> started to break down with the weight. That's why we made two ships in the first place. The left side of the ship began to twist last night, and finally gave way this morning. We have ten days to fix it. I had an idea, but nobody will listen to me. We dont have to make it air tight, as long as we package the sensitive stuff into air-tight packages, the actual ship doesn't need to hold up in space. We could probably get it done if we did that. Meanwhile, everyone is working overtime to get it done. We're not getting paid. There's no point. They told us that the top ten mechanics get a spot on the ship. You bet I'm working hard for that. Maybe I should tell them my idea. It might get me that final spot on the ship.</p>
      </div>
      </div>

      <br>
      <br>

      <div class="col-lg-12">

        <div class="col-lg-6 new">
          <h3 class="light blue">Day of Launch.</h3>
          <h4>One of the pilots of the <i>Ceres III</i>.</h4>
          <br>
          <p>Today is launch day. I can't tell you how nervous I am, just like I can't tell you how many times I gone through this in the simulation. I tink I can do it. The only way this won't work is if everything goes wrong. Let's hope that doesn't happen. The fate of humanity is dependent on me and the the three other pilots to get this launch right. I'm the second pilot in command. That means if something happens to the first one, then I'm in charge. That's the last thing that I want to happen. I definitely don't want that responsibility.</p>
          <p>The sapceship is a beast. It weighs 1500 tons, and is the most unweidley thing that I've ever had to or had the privlege to fly. If we can pull this off, it'l be the greatest flight in the history of mankind. We're responsible for the health of the 175 people on board. The 25 made it safely into the ISS. If everything goes as planned, we'll be docking with them in about 2 hours. I have to go. Wish me luck. </p>
        </div>

        <div class="col-lg-6">
          <h3 class="light blue">Landing +0 Days.</h3>
          <h4>A geologist after landing on Ceres.</h4>
          <br>
          <p>I see a barren landscape. It is like nothing I have seen before. We have traveled so far from earth that you cannot comprehend the distance between us. There is no atmosphere, so we needed to drill underground to find shelter. We our the first humans to ever land on an asteroid. You feel extremely lucky to come here and escape imminent death, but sad for everybody on earth who was given no chance to survive. But I know that we the only successors to the human race, and there is a lot of work left before life on Ceres becomes practical for generations to come.</p>
        </div>

      </div>

      <br>
      <br>

      <div class="col-lg-12">
        <div class="col-lg-6 first">
        <h3 class="light blue">Landing +1 Month.</h3>
        <h4>Another entry from the geologist.</h4>
        <br>
        <p>Today is one month after we landed on Ceres. The first month has been full of hardships and troubles that we never expected. I know this might seem very conceited of me, considering I am lucky to be survive, but I am already sick of the food we eat every single day. My diet consists of sweet potatoes, chicken, dry beans, water, and apples. The one thing that really makes me sad is that all the simple things that made me happy on earth our gone. No more sunny days, no more trampolines, no more skiing and no more feeling the wind at your face. My previous carefree nature has been eliminated. I feel helpless because I know this my future.</p>
        </div>

      <div class="col-lg-6">
        <h3 class="light blue">Landing +4 Months.</h3>
        <h4>The last entry from the geologist.</h4>
        <br>
        <p>Today is 4 months after we landed on Ceres. Our atmosphere is finally taking form so we are working hard to gather resources needed to build. The struggle is actually real. I threw my back out a few days ago so they put me on injured leave. That means a pretty much sit in the medical facility, sulking in sadness. The one thing that I have really been happy with is all the amazing people I have met. I am surrounded by some of the best specialist in the world. They make me feel accomplished in comparison. These people are so nice because they realize that relationships are key to survival. I hope these friendships can lead me to a happier existence.</p>
        </div>
      </div>

      <br>
      <br>

      <div class="col-lg-12">
        <div class="col-lg-6 first">
          <h3 class="light blue">Landing +1 Day</h3>
          <h4>An entry from a farmer.</h4>
          <br>
          <p>We have finally arrived after almost a year! Ceres is beautiful! It contains a huge atmosphere with a huge surface ocean. It’s so exciting to be here. We are starting to build shelter, water producers, and farms. My job is to make the ground fertile for farms. I think it will be a successful society and we will grow huge.</p>
        </div>
        <div class="col-lg-6">
          <h3 class="light blue">Landing +1 Year.</h3>
          <h4>Another entry from the farmer.</h4>
          <br>
          <p>It has been a year since we made it to Ceres and we’re very successful here. We contain a minor population of 200 people which is still growing today. I have finally finished the farm and have gone to a new job of our planet: Assitant manager of Ceres Airways. I help people travel from many different planets to Ceres using the original ship that we used to fly to Ceres to other replicas that are almost the same of the first built ship. It takes approximately 341 days to get from earth to ceres so it will take us 682 days to get people from earth to Ceres because we launch from Ceres. It is very stressful running Ceres Airways, but it pays off when successful.</p>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="col-lg-6 first">
          <h3 class="light blue">Landing +2 Years.</h3>
          <h4>The final entry by the farmer.</h4>
          <p>It has been 682 since our first landing and wow have we grown! We have just transported another estimated amount of 200 people from Earth to Ceres making the population at about 400 people in Ceres. We are extremely developed now making our technology astounding due to the help of engineers such as Connor Braun. Connor Braun and his company have made the amazing device named the iPear. It is amazing! It has so many unique features such as you can open up to 5 windows at once or you can have more than one phone number that people can call you on your device. We have been developing a lot and hopefully even more to be done.</p>
        </div>
        <div class="col-lg-6">
          <h3 class="light blue">T -3 Days.</h3>
          <h4>A doctor going to Ceres.</h4>
          <p>I can’t lie...I’m afraid to go onto this trip. I have so many worries about this new place. They say we will be able to breathe using the artificial atmosphere, but I’m still skeptical. I’m one of the physicians selected to join the mission. I’m one of the many doctors on this trip, and I specifically attend to patients on the western half of the planet. I tend to get very bad motion sickness so I sure hope this flying thing goes well. I can’t believe we are stuck in an aircraft for up to a year. Although, I guess I’m somewhat fortunate because I never really knew my family, being an orphan, so it’s somewhat a plus that I’ll have nothing really to miss about this place.</p>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="col-lg-6">
          <h3 class="light blue">T +200 Days.</h3>
          <h4>An entry by the doctor while onboard <i>Ceres III</i></h4>
          <p>It’s roughly half-way through our trip and I think I’m literally losing my mind. My cabin was about the size of my kitchen back on earth, so you could say it’s quite cozy. Every day it’s the same, routine; breakfast, “socialize”, lunch, lame games, and dinner. Over. And over. And over. I don’t know if I can handle another 90 days or so but I guess I’ll have no choice. Wish me luck…</p>
        </div>
        <div class="col-lg-6">
          <h3 class="light blue">T +340 Days (2 Days until landing.)</h3>
          <h4>The final entry by the doctor, a few days before landing.</h4>
          <p>The pilot announced today that we will be arriving the planet in less than 48 hours! At first I wasn’t sure about this whole thing, but now the only thing I want is to just get off this ship! I have all of my clothes packed up and can’t wait to get here. On a lower note… we got news that Earth had officially been destroyed along with millions of humans… There is no other life for us now,  but in the uninhabited reaches the universe. We had a moment of silence during dinner tonight and I could have sworn I heard nothing but the beat of my heart.</p>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="col-lg-6">
          <h3 class="light blue">Landing +5 Days.</h3>
          <h4>An entry from a farmer.</h4>
          <p>We moved into our underground structures today while we were developing our atmosphere. It is very cold here, so I am worried that I will have a tough time planting food for us to eat. Luckily, we brought enough UV lamps that we can grow crops underground without the plants lacking sunlight. I got to work on planting the crops when I quickly realized that the ground was so rocky, that it would be hard to find space to plant the seeds in. With some help from Connor, the strongest of the group, we were able to clear away enough rocks so that we could plant enough to last a couple of months. Life on Ceres is pretty liveable at this point, not too much has gone wrong and everything is seeming to go as planned. I think that life here will be good. However, I miss my family on Earth and will be sad when they are brutally destroyed when the Earth ends. I have to go now, I need to go collect my vitamin supplements for the week.</p>
        </div>
        <div class="col-lg-6">
          <h3 class="light blue">Landing +250 Days.</h3>
          <h4>A second entry from the farmer.</h4>
          <p>Life on Ceres is not as great as I want it to be. It feels like we went back in time because we don’t have modern technologies that we had on Earth. I miss television and computers. Also, I miss all of my friends from back home. People always say that I should be thankful that I was chosen to go to Ceres, and I am. It is just that it is such a tremendous adjustment from life on Earth. Anyways, life is a little better than when we got here. We recently got electricity to power some lights in our homes. Also, the Atmosphere is going along great. It should only be a couple of years until we can go back to the surface and live there. I think that when we go back to the surface, life will be much better because there will be more space (no pun intended), because it is really cramped here in the core. All we can do for now is just look forward for the future and hope that nothing goes wrong in the meantime.</p>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="col-lg-6">
          <h3 class="light blue">Landing +2 Years.</h3>
          <h4>The final entry from the farmer.</h4>
          <p>The atmosphere here is finally developed and we can move onto the surface of Ceres. This is a very exciting day for all of us and a scientific breakthrough. As we walk up to the surface, I notice that it is much colder up here because in the core, our body heat was trapped inside. Also, this is a special day because we can finally take our space suits off. When I took mine off, I realized that I smelled horrible because I haven’t showered in over 700 days. I hope that everyone just notices how bad they smell and not how I smell. Right now, we are living in temporary tents that we built with spare materials while the architects build apartment buildings for everyone to live in. I am very excited to move into my apartment, especially because that makes Ceres so much more like a place that is on Earth. We are also starting to bring American Culture to Ceres. Sports are much more fun here due to our enhanced endurance and enhanced jumping ability. I think that life here will become more and more familiar and I am excited to see what the future holds.</p>
        </div>
        <div class="col-lg-6">
          <h3></h3>
        </div>
      </div>

    </div>

  </body>
</html>
