<html>
  <head>

  </head>
  <body>
    <div class="container">
      <div class="space"></div>
      <h2 class="blue">An asteroid is going to hit Earth in five years, and it's time to leave. The next question: where do we go? The answer: Ceres.</h2>

      <br>

      <h3 class="blue">About Ceres</h3>
      <p>Ceres is the largest body in the asteroid belt. It is on average 164 million miles away from Earth. If we travel at 20,000 MPH, we can get there in about a year to get there. As you can see, this is not an issue. There is an abundance of natural resources on Ceres. Underneath the thin outer layer, there is a layer of frozen ocean, which could contain more freshwater than Earth. Also, there are many mineral resources. There is carbon, and also water-holding minerals. These could be used to build Ceres has a land area similar to Argentina, which has a population of 45 million. This could definitely hold the amount of people needed.</p>

      <h3 class="blue">Who's Coming?</h3>
      <p>Here is a tentaive list of people coming.</p>
        <ul>
          <li>Neil de Grasse Tyson: Astrophysicist.</li>
          <li>Bill Nye: The Scientist.</li>
          <li>Morgan Freeman: Narrator.</li>
          <li>Peter H. Raven: Botanist.</li>
          <li>Ellen Stefan: Chief NASA Scientist.</li>
          <li>Connor Braun, the future of engineering.</li>
        </ul>
      <p>We are bringing the smartest and best people from around the planet. This helps to ensure our success.</p>

    </div>
  </body>
</html>
