<html>
  <head>

  </head>
  <body>
    <div class="container">
      <div class="space"></div>
      <h2 class="blue">An asteroid is going to hit Earth in five years, and it's time to leave. The next question: Where do we go? The answer: Ceres.</h2>

      <br>

      <h3 class="blue">About Ceres</h3>
      <p>Ceres is the largest body in the asteroid belt. It is on average 164 million miles away from Earth. If we travel at 20,000 MPH, we can get there in about a year to get there. As you can see, this is not an issue. There is an abundance of natural resources on Ceres. Underneath the thin outer layer, there is a layer of frozen ocean, which could contain more freshwater than Earth. Also, there are many mineral resources. There is carbon, and also water-holding minerals. These could be used to build Ceres has a land area similar to Argentina, which has a population of 45 million. This could definitely hold the amount of people needed.</p>

      <h3 class="blue">Who's Coming?</h3>
      <p>Here is a tentaive list of people coming.</p>

        <ul>
          <li>Neil de Grasse Tyson: Astrophysicist.</li>
          <li>Bill Nye: The Scientist.</li>
          <li>Morgan Freeman: Narrator.</li>
          <li>Peter H. Raven: Botanist.</li>
          <li>Ellen Stefan: Chief NASA Scientist.</li>
          <li>James Cameron: Entertainment &amp; Oceanographer.</li>
          <li>Connor Braun: The Future of Engineering.</li>
        </ul>

      <p>We are bringing the smartest and best people from around the planet. This helps to ensure our success.</p>

      <h3 class="blue">Travel</h3>
      <p>This is the most complicated part of the process and will include mutiple steps. The first part is flying needed resources up into orbit, such as liquid oxygen, nitrogen, as well as food, and medical supplies. To lanuch them, we will lisence out space travel to companies such as Blue Origin, Vigrin Galactic, or Space X. Next, we will begin taking people. To have a solid gene pool, we need to have about 200 people of different backrounds, ethnicities, and cultures to ensure diversity. These people, mainly doctors, scientists, and engineers, will travel to the ISS. There, they will stay until it is time to take the second leg of the journey to Ceres. Again, they will be transported by a 3rd Party company. The ISS will pick up the resources while it is in orbit to continue to support life. Also transported, will be a number of plants and algae that will absorb some of the CO<sub>2</sub> stripped down from scientific materials and other uneccesary cargo. The ISS could hold maybe 25 people and a number of supplies. Next comes the other scientists. They will be transported through another </p>

    </div>
  </body>
</html>
