<html>
  <head>
    <link rel="stylesheet" href="custom.css.scss">
  </head>
  <body>

    <div class="container blue">
    <div class="space"></div>
      <% @pages = Page.all %>
      <% @pages.each do |page| %>
        <%= page.email %><span>, </span>
      <% end %>
    </div>

  </body>
</html>
