<!DOCTYPE html>
<html>
<head>
  <title>Ceres Airways</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="nav">
  <div class="dropdown">
  <div class="sandwhich">
    <div href="#" class="dropdown-toggle sandwich-hover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <div class="first-line line"></div>
    <div class="second-line line"></div>
    <div class="third-line line"></div>
    </div>

    <ul class="dropdown-menu" id="dropdown-body">
      <li><a href="/pages/home">Home</a></li>
      <li><a href="/pages/about">About</a></li>
    </ul>

  </div>
  </div>

  <div class="brand-con">
  <div class="brand"><span class="brand-text">Ceres</span></div>
  </div>
  </nav>
<%= yield %>

</body>
</html>
